{% extends 'base.html.twig' %}

{% block title %}Ascii word "{{ word }}"!{% endblock %}

{% block body %}
<div class="m-4">
    <div class="container">
        {% if added %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Word "{{ word }}" added correctly.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <table class="table table-bordered text-center">
            <thead class="bg-adgo">
                <th>Letter</th>
                <th>Ascii code</th>
            </thead>
            <tbody>
            {% for position in ascii_array %}
                <tr>
                    <td>{{position.letter}} </td>
                    <td>{{position.ascii_number}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
