{% extends 'base.html.twig' %}
{% block title %}Info ascii word list!{% endblock %}
{% block body %}
<div class="m-4">
    <div class="container">
        {% if saved %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Word "{{ saved }}" added correctly.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <table class="table table-bordered text-center">
            <thead class="bg-adgo">
                <th>Id</th>
                <th>Created at</th>
                <th>Word</th>
                <th>Sum ascii codes</th>
            </thead>
            <tbody>
            {% for position in arr %}
                <tr>
                    <td>{{position[0]}}</td>
                    <td>{{position[1]}}</td>
                    <td>{{position[2]}}</td>
                    <td>{{position[3]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if form %}
        <div class="container border p-3">
            {{ form_start(form, {'attr':{'method': 'POST','class': ''}}) }}
            <div class="form-group">
                <div class="text-center">
                {{ form_label(form.word, 'Write the word to save: ', {'label_attr': {'class': 'mr-3'}}) }}
                </div>
                {{ form_widget(form.word,{"attr": {"class":"form-control"}}) }}
            </div>
            <div class="text-center">
                {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
