<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
            <link rel="icon" href="http://www.mediaadgo.com/wp-content/uploads/2018/05/favicon.png" type="image/png">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">
                    <img id="ad_logo" alt="logo media adgo!" src="http://www.mediaadgo.com/wp-content/uploads/2018/04/adgo-media-1.png"> 
                    ASCII WORDS 
                </span>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="m-3">
                        <span class="text-muted">Made by <b>Miguel Catalán</b> with <i class="fab fa-php text-primary"></i>, Symfony, Bootstrap and <i class="fas fa-heart text-danger"></i>.</span>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
